extends layout

block content
  #banner.page-header
    .row
      col-md-6.col-sm-12
        h1= title
  .row
    col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br/><br/>
        | Mussum Ipsum, cacilds vidis litro abertis. in elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Atirei o pau no gatis, per gatis num morreus.