extends layout

block content

  .row-page-header
    .col-lg-12
      .row
        .col-xs-12.col-md-9
          .row
            .col-xs-12.col-sm-6
              p.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                p 125 High Street, Reading, RG6 1PS

                .panel.panel-primary
                  .panel-heading
                    h2.panel-title Opening hours
                  .panel-body
                    p Monday - Friday : 7:00am - 7:00pm
                    p Saturday : 8:00am - 5:00pm
                    p Sunday : closed
                .panel.panel-primary
                  .panel-heading
                    h2.panel-title Facilities
                  .panel-body
                    span.label.label-warning
                      span.glyphicon.glyphicon-ok
                      | &nbsp; Hot Drinks
                    | &nbsp;
                    span.label.label-warning
                      span.glyphicon.glyphicon-ok
                      | &nbsp; Food
                    | &nbsp;
                    span.label.label-warning
                      span.glyphicon.glyphicon-ok
                      | &nbsp; Premium Wi-Fi
                    | &nbsp;
            .col-xs-12.col-sm-6.location-map
              .panel.panel-primary
                .panel-heading
                  h2.panel-title Location map
                .panel-body
                  img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284')
          .row
            .col-xs-12
              .panel.panel-primary.review-panel
                .panel-heading
                  a.btn.btn-default.pull-right(href='/location/review/new') Add review
                  h2.panel-title Customer reviews
                .panel-body.review-container
                  .row
                    .review
                      .well.well-sm.review-header
                        span.rating
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                        span.reviewAuthor &nbsp; Giulio Denardi
                        small.reviewTimestamp 2 July 2016
                      .col-xs-12
                        p What a great place. I can't say enough good things about it.
                  .row
                    .review
                      .well.well-sm.review-header
                        span.rating
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star-empty
                          span.glyphicon.glyphicon-star-empty
                        span.reviewAuthor &nbsp; Charles Chaplin
                        small.reviewTimestamp 28 June 2014
                      .col-xs-12
                        p It was okat. Coffee wasn't great, but the Wi-Fi was fast.
        .col-xs-12.col-md-3
          p.lead Simon's cafe is on Loc8r because it has accessible Wi-Fi and space to sit down with your laptop and get some work done.
          p If you've been there and you like it - or if you don't - plase leave a review to help other people just like you.